* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost" , sans-serif;
    outline: none;
    color: #5c4b51;
}

body {
    background-image: linear-gradient(to right top, #051937, 
    #004a76, #00818d, #00b56c, #9dde0e) ;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 425ps;
    height: auto;
    background: #fff;
    padding: 35px 50px;
    border-radius: 2px;
}
.form .title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}